<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Web Calculator Suite" parallel="classes" thread-count="4">
    <listeners>
        <listener class-name="com.calculator.listeners.MyListener"/>
    </listeners>
    <test name="Calculator Operation Tests">
        <classes>
            <class name="com.calculator.tests.AdditionTest" />
            <class name="com.calculator.tests.MultiplicationTest" />
            <class name="com.calculator.tests.SubtractionTest" />
            <class name="com.calculator.tests.DivisionTest" />
        </classes>
    </test>
</suite>